*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    clip-path: circle(0px at center);
}
.container{
    position: relative;
    margin-top: 200vh;
    width: 100%;
    background:linear-gradient(rgb(197, 85, 85),white);
    padding: 100px;
}
.container h2
{
    font-size: 2.5em;
    margin-bottom: 20px;
    
}
.title
{
    position: relative;
    top: 250px;
    z-index: 1;
    font-size: 3em;
    text-align: center;
    width: 100%;
}